<% if !@doc.errors.empty? %>
   <div class = "alert alert-error">   
      <ul>
         <% @doc.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>

<div class = "well">
   <%= form_for @doc, html: { multipart: true } do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :description %>
      <%= f.text_field :description %>
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
      <%= link_to "Download doc", @doc.attachment_url %>
      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>
</div>